@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="registration-container">
    <div class="text-center">
        <h2 class="h3">@ViewData["Title"]</h2>
        <p class="text-muted mt-3">
            Por favor, verifique o seu email para um link de recuperação da sua palavra-passe.
        </p>
        <div class="mt-4">
            <a asp-page="./Login" class="btn btn-dark">Voltar ao Login</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/auth-layout.css" asp-append-version="true" />
}